h3{ 
  /*background-color: #fffff2;*/
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
  padding-top: 10px;
  margin-bottom: 15px;
}


h1{
  text-align: center;
  padding-top: 10px; 
}


input[type=text]{
  padding: 5px;
  width: 30%;
  margin-top: 5px; 
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}

input[type=text]:focus {
  border: 3px solid #555;
}

#all-fields {
    padding-left: 20px;
    margin-top: 5px;
}

button[type="button"]{
  background-color: #555;
  color: white;  
  margin-left: 8px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  border: solid;
  font-size: 15px;
  margin-top: 15px;
}



input[type=submit] {
  background-color: #fcdb03;
  text-align: center;
  color: #383837;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  margin-top: 15px;
  padding:5px 90px 5px 90px; 
  cursor:pointer;
  border: none;
  font-size: 20px;
}

select {
padding: 10px 20px;
border: none;
border-radius: 4px;
background-color: #f1f1f1;
color: black;
font-family: 'Montserrat', sans-serif;
}

#submit{
  text-align: center;    
}

#photo{
float:right;
margin-right: 30px;
}

.submitButtons{
  margin-top: 25px;
  text-align: center;
}

#info{
  margin-left: 15px;
  padding-left: 15px;
}

.section{
  font-family: 'Montserrat', sans-serif;
  border: solid 1px rgb(117, 117, 117);
  border-radius: 8px;
  width: 900px;
  height: auto;
  padding-top: 15px;
padding-bottom: 15px;


  color: #333;
  margin-left: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
  margin-right: 10px;
  
}

#editButton{
  background-color: #555;
  color: white;  
  margin-left: 8px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  border: solid;

  font-size: 18px;
  padding: 14px 24px 14px 24px;
}

#deleteButton{
  background-color: #555;
  color: white;  
  margin-left: 14px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  border: solid;

  font-size: 18px;
  padding: 14px 24px 14px 24px;
}


/* OLD */
.form-control:focus {
  box-shadow: none;
  border-color: #2c2a2c;
}

.profile-button {
  background: rgb(247, 247, 243);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #252525;
}

.profile-button:focus {
  background: #292829;
  box-shadow: none;
}

.profile-button:active {
  background: #f8d50b07;
  box-shadow: none;
}

.back:hover {
  color: #141414;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}
