body {
  background: rgb(239, 236, 240);
}

.form-control:focus {
  box-shadow: none;
  border-color: #2c2a2c;
}

.profile-button {
  background: rgb(247, 247, 243);
  box-shadow: none;
  border: none;
}

.profile-button:hover {
  background: #252525;
}

.profile-button:focus {
  background: #292829;
  box-shadow: none;
}

.profile-button:active {
  background: #f8d50b07;
  box-shadow: none;
}

.back:hover {
  color: #141414;
  cursor: pointer;
}

.labels {
  font-size: 11px;
}
