
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Add Recipe</title>

		<!-- JS Files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="../scripts/addRecipe.js"></script>

		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/addRecipe.css">	
		<link rel="stylesheet"  href="../styles/addRecipe.css">
		
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">


	</head>

	<header>
		<div id="website-header">
			<ul>
				<li style="float:left"><a href="homepage">RecipeBuddy</a></li>
				<li><a href="myProfile">My Profile</a></li>
				<li><a href="pantry">Pantry</a></li>
				<li><a href="recipeBook">Recipe Book</a></li>
				<li><a class="active" href="addRecipe">Add Recipe</a></li>
				<li><a href=searchRecipe id="searchButton">Search</a></li>
				<li><input onKeyUp="updateSearch()" id="searchText" size=30></li>
			</ul>
		</div>
	</header>


	<body>
		<h1>Add a Recipe</h1>
		<div id = "all-fields">
			<div>
				<h3>Name</h3>
				<input type="text" id="recipeName" placeholder="My Recipe"/>
			</div>

			<div>
				<h3>Picture</h3>
				<table>
					<tr>
						<td><image id="recipeImage" width=200 height=200></td>
					</tr>
					<tr>
						<td><input type="file" id="fileToUpload" onchange="viewImage()"></td>
					</tr>
				
				</table>
				
			</div>

			<!--NOT CONNECTED TO BACKEND-->
			<div id="servingsSection">
				<h3>Total Servings</h3>
				<div id="servingsInputs">
					<input type="text" id="servingSize" placeholder="1"/>
					<br>
				</div>
			</div>
			
			<!--NOT CONNECTED TO BACKEND-->
			<div id="totalTimeSection">
				<h3>Total Time</h3>
				<div id="timeInputs">
					<input type="text" id="totalCookTime" placeholder="00:00:00"/>
					<br>
				</div>
			</div>

			<div id="ingredientSection">
				<h3>Ingredients
					<button type="button" onclick="addIngredient()">Add +</button>
				</h3>
				<div id="ingredientInputs">
					<input type="text" class="ingredientAmmount" placeholder="1" size=10/>
					<select class="ingredientMeasurement">
						<datalist id="measurements">
							<option value="mL">mL</option>
							<option value="cups">cups</option>
							<option value="tsp">tsp</option>
							<option value="tbsp">tbsp</option>
							<option value="pinch">pinch</option>
							<option value="qt">qt</option>
							<option value="gal">gal</option>
							<option value="oz">oz</option>
							<option value="lbs">lbs</option>
						</datalist>
					</select>
					<input type="text" class="ingredientName" placeholder="Ingredient"/>
					<button type="button" onclick="removeEntry(this)">-</button>
					<br>
				</div>
			</div>

			<div id="applianceSection">
				<h3>Appliances
					<button type="button" onclick="addAppliance()">Add +</button>
				</h3>
				<div id="applianceInputs">
					<input type="text" class="appliance" placeholder="Appliance"/>
					<button type="button" onclick="removeEntry(this)">-</button>
					<br>
				</div>
			</div>

			<div id="dietaryRestrictionSection">
				<h3>Dietary Restrictions
					<button type="button" onclick="addDietaryRestriction()">Add +</button>
				</h3>
				<div id="dietaryRestrictionInputs">
					<input type="text" class="dietaryRestriction" placeholder="Dietary Restriction"/>
					<button type="button" onclick="removeEntry(this)">-</button>
					<br>
				</div>
			</div>

			<div id="otherTagsSection">
				<h3>Misc Tags
					<button type="button" onclick="addOtherTag()">Add +</button>
				</h3>
				<div id="otherTagInputs">
					<input type="text" class="otherTag" placeholder="Tag"/>
					<button type="button" onclick="removeEntry(this)">-</button>
					<br>
				</div>
			</div>
			
			<div id="stepSection">
				<h3>Steps 
				<button type="button" onclick="addStep()">+</button>
				</h3>
				<div id="stepInputs">
					<input type="text" class="stepText" placeholder="Step Name">
					<input type="text" class="stepTime" placeholder="Amount of Time (12:34:56)">
					<input type="text" class="videoURL" placeholder="Video URL (www.youtube.com)">
					<button type="button" onclick="removeEntry(this)">-</button>
					<br>
				</div>
			</div>
			

			<!--NOT CONNECTED TO BACKEND-->
			<div id="difficultyRatingSection">
				<h3>Difficulty to Make - Easy (1) to Hard (5)</h3>
				<div id="difficultyRatingInputs">
					<select id="difficultyNumber">
						<datalist id="rating">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
						</datalist>
					</select>
					<br>
				</div>
			</div>


			<h4>Private This Recipe
				<input type="checkbox" id="isPrivate" name="private recipe" value=false>
			</h4>

			<div id="submit">
			<input type="submit" value="Add Recipe" onclick="addRecipe()"/>
				<div>
					<p id="status"></p>
				</div>
			</div>
		</div>

	</body>
</html>