
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Cook Recipe</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="../scripts/searchbar.js"></script>
        <script src="../scripts/ingredientScaling.js"></script>
		<script src="../scripts/cookRecipe.js"></script> <!-- dec 6 12 pm-->
        <script src="../scripts/header.js"></script>

			

		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/cookRecipe.css">	
		<link rel="stylesheet"  href="../styles/cookRecipe.css">
	
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">

	</head>

	<header>
        <div id="website-header">
            <ul>
                <li style="float:left"><a href="homepage">RecipeBuddy</a></li>
                <li><a id="logout" onclick="logout()">Logout</a></li>
                <li><a id="myProfile" href="myProfile">My Profile</a></li>
                <li><a href="pantry" id="pantry">Pantry</a></li>
                <li><a href="recipeBook" id="recipeBook">Recipe Book</a></li>
                <li><a href="addRecipe" id="addRecipe">Add Recipe</a></li>
                <li><a href=searchRecipe id="searchButton">Search</a></li>
                <li style="float:left" class="searchNav"><input onKeyUp="updateSearch()" id="searchText" size=30></li>
            </ul>
        </div>
    </header>


	<body>
		<!-- TODO: format page-->
		<h1 id="name"></h1>

		<div id="recipeInfo">
			<h3 id="author">By: </h3> <br>
			<h3 id="cookTime"></h3>
			<h3 id="displayRating">Rating: </h3>
			<h3 id="displayDifficulty">Difficulty: </h3>
		</div>

		<div id = "imageDiv">
			<image height=200 width=200 id = "recipeImage">
		</div>

		<h2>Ingredients</h2>
		<div id = "ingredients">
			<table id = "ingTable"><tr><th id="tableIngredients"></th></tr></table>
		</div>

		<!-- I'm (Rosie) working on now, need to figure out how to display one step per page
		Also need to list all the other information associated with recipe probably such as ingredients
		-->
<h2> Directions </h2>
		<div id="stepSection">
			
			<div id="steps"> </div>
		</div>
<div id="submit">
		<button class="nextStepButton" onclick="nextStep(this)">Next Step</button>
	</div>
	</body>
</html>