<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>My Pantry - RecipeBuddy</title>   
		
		<!-- JS Files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="../scripts/myPantry.js"></script>

		
	</head>
    <body>
        <table>
            <tr>
                <td>
                    <div id="pantryDiv">
                        <h2>Pantry</h2>
                        <h4>Ingredients</h4>
                        <div id="ingredientsDiv">
                            
                        </div>
                    </div>
                </td>
                <td>
                    <h2>Shopping Cart</h2>
                    <div id="ShoppingCartDiv">
                        
                    </div>
                </td>
            </tr>
        </table>
        
    </body>
</html>