<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>My Pantry - RecipeBuddy</title>   
		
		<!-- JS Files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="../scripts/myPantry.js"></script>
        <script src="../scripts/searchbar.js"></script>
        <script src="../scripts/header.js"></script>
        
			<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
            <link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
            <link rel="stylesheet"  href="../styles/main.css">
            <link rel="stylesheet"  href="/src/main/resources/public/styles/myPantry.css">	
            <link rel="stylesheet"  href="../styles/myPantry.css">
        
            <!-- Online Font Resources-->
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
            </head>
    

        <header>
            <div id="website-header">
                <ul>
                    <li style="float:left"><a href="homepage">RecipeBuddy</a></li>
                    <li><a id="logout" onclick="logout()">Logout</a></li>
                    <li><a id="myProfile" href="myProfile">My Profile</a></li>
                    <li><a class="active" href="pantry">Pantry</a></li>
                    <li><a href="recipeBook" id="recipeBook">Recipe Book</a></li>
                    <li><a href="addRecipe" id="addRecipe">Add Recipe</a></li>
                    <!--<li><a href=searchRecipe id="searchButton">Search</a></li>-->
                    <li style="float:left" class="searchNav"><input placeholder="Search" onKeyUp="updateSearch()" id="searchText" size=30></li>
                </ul>
            </div>
        </header>
        
    <body>
        <h1 id="usernamePantry">Pantry</h1> <!-- should show the user's display name (not username)-->
        

        <div class="entireSection" id="ingredientsSection"> <!-- display name of current ingredients WITH quanity and units?, has remove button for each and general add button  -->
            <h2>Ingredients<br>
                
				<div id="ingredientInputs">
					<input type="text" class="ingredientAmmount" placeholder="1" size=10/>
					<select class="ingredientMeasurement">
						<datalist id="measurements">
							<option value="mL">mL</option>
							<option value="cups">cups</option>
							<option value="tsp">tsp</option>
							<option value="tbsp">tbsp</option>
							<option value="pinch">pinch</option>
							<option value="qt">qt</option>
							<option value="gal">gal</option>
							<option value="oz">oz</option>
							<option value="lbs">lbs</option>
							<option value="quantity of">quantity of</option>
						</datalist>
					</select>

					<select class="ingredientName">
						<datalist id="ingInputs">
							<option value="almond milk">  Almond Milk </option>
							<option value="apple">  Apple </option>
							<option value="baking soda"> Baking Powder  </option>
							<option value="baking soda"> Baking Soda  </option>
							<option value="beef">  Beef </option>
							<option value="brown sugar"> Brown Sugar </option>
							<option value="butter">Butter  </option>
							<option value="carrot"> Carrot  </option>
							<option value="cheese">  Cheese </option>
							<option value="chicken"> Chicken </option>
							<option value="cinnamon"> Cinnamon </option>
							<option value="eggs"> Eggs  </option>
							<option value="fish"> Fish </option>
							<option value="flour"> Flour </option>
							<option value="garlic"> Garlic </option>
							<option value="milk"> Milk </option>
							<option value="mushrooms"> Mushrooms </option>
							<option value="oats"> Oats </option>
							<option value="olive oil"> Olive Oil </option>
							<option value="onion"> Onion </option>
							<option value="pasta"> Pasta </option>
							<option value="pork"> Pork  </option>
							<option value="rice"> Rice </option>
							<option value="salt"> Salt </option>
							<option value="shrimp"> Shrimp </option>
							<option value="spinach"> Spinach  </option>
							<option value="strawberry"> Strawberry </option>
							<option value="vegetable oil"> Vegetable Oil </option>
							<option value="water">Water</option>
							<option value="white sugar">  White Sugar </option>
						</datalist>
						</select>
                    <button type="button" onclick="addIngredient()" class="addButton">Add +</button>
				</div>
			</div>
            

        </h2>  






            <div style="overflow-x:auto;">
                <table class="scrollSection">
                    <tr id="ingredientTable">
                        <td>
                            <div class="category">
                                <h3># UNITS INGREDIENT 1</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category" >
                                <h3># UNITS INGREDIENT 2</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3># UNITS INGREDIENT 3</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3># UNITS INGREDIENT 4</h3>
                                <button type="button" class="removeButton">(Remove)</button>  
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3># UNITS INGREDIENT 5</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <div class="entireSection" id="applianceSection"> <!-- display name of appliance, add/remove appliance options-->
            <h2>Appliances <br>
                
                    <div class="dropdownMenu">
                        <div id="applianceInputs">
                            <select class="appliance">
                            <datalist id="appInputs">
                    
                                <option value="blender"> Blender  </option>
                                <option value="bowl">  Bowl </option>
                                <option value="fryer"> Fryer </option>
                                <option value="microwave"> Microwave </option>
                                <option value="mixer">Mixer</option>
                                <option value="oven"> Oven </option>
                                <option value="rice cooker"> Rice Cooker </option>
                                <option value="sheet tray"> Sheet Tray  </option>
                                <option value="toaster"> Toaster </option>
                                <option value="whisk"> Whisk </option>
                            </datalist>
                            </select>
                            <button type="button" class="addButton" onclick="addAppliance()">Add +</button>
                        </div>
                        
                    </div>
                </div>
               
            </h2>  
            <div style="overflow-x:auto;">
                <table class="scrollSection">
                    <tr id="appliancesTable">
                        <td>
                            <div class="category">
                                <h3>APPLIANCE 1</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category" >
                                <h3>APPLIANCE 2</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3>APPLIANCE 3</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3>APPLIANCE 4</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3>APPLIANCE 5</h3>
                                <button type="button" class="removeButton">(Remove)</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>




        <div class="entireSection"> <!-- just needs to display name of ingredients, no clicks needed -->
            <h2>Shopping Cart</h2>  
            <div style="overflow-x:auto;">
                <table class="scrollSection">
                    <tr id="shoppingCartTable">
                        <td>
                            <div class="category">
                                <h3>INGREDIENT 1</h3>
                            </div>
                        </td>
                        <td>
                            <div class="category" >
                                <h3>INGREDIENT 2</h3>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3>INGREDIENT 3</h3>
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3>INGREDIENT 4</h3>  
                            </div>
                        </td>
                        <td>
                            <div class="category">
                                <h3>INGREDIENT 5</h3>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </body>
</html>