<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Profile</title>

		<!-- JS Files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="../scripts/searchbar.js"></script>
		<script src="../scripts/myProfile.js"></script>
        <script src="../scripts/header.js"></script>

		

		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/myProfile.css">	
		<link rel="stylesheet"  href="../styles/myProfile.css">
		
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">


	</head>


	<header>
		<div id="website-header">
			<ul>
				<li style="float:left"><a href="homepage">RecipeBuddy</a></li>
				<li><a id="logout" onclick="logout()">Logout</a></li>
				<li><a class="active" id="myProfile" href="myProfile">My Profile</a></li>
				<li><a href="pantry" id="pantry">Pantry</a></li>
				<li><a href="recipeBook" id="recipeBook">Recipe Book</a></li>
				<li><a href="addRecipe">Add Recipe</a></li>
				<li style="float:left" class="searchNav"><input placeholder="Search" onKeyUp="updateSearch()" id="searchText" size=30></li>
			</ul>
		</div>
	</header>

  <body>

    <div id = "all-fields">
      <h1> Profile</h1>

      	<!--NEW-->
			<div id="photo" >
				<h3 style="text-align: center;">Profile Picture</h3>
				<table>
					<tr>
						<td><image id="profileImage" width=300 height=300></td>
					</tr>
					<tr>
						<td><input type="file" id="fileToUpload" onchange="viewImage()"></td>
					</tr>
				</table>
			</div>

      <div id="info"></div>
      <h2 id="usernameProfile">Username Name: </h2>
      <!--<h2 id="displayNameProfile">Display Name: </h2>-->
    </div>
		
		
			<div id="dietaryRestrictionSection" class="section" style="margin-top: 20px;">
				<h2>Dietary Restrictions</h2>

<div id=dietEntry>
</div>




<!--
          <div class="dropdownMenu">
            <div id="dietaryRestrictionInputs">
              <select class="dietaryRestriction">
              <datalist id="dietInputs">
                <option value="dairy-free">Dairy Free</option>
                <option value="fish allergy">Fish Allergy</option>
                <option value="gluten-free"> Gluten Free</option>
                <option value="kosher">Kosher</option>
                <option value="lactose intolerance">Lactose Intolerance</option>
                <option value="nut-free">Nut Free</option>
                <option value="sugar-free">Sugar Free</option>
                <option value="vegan">Vegan</option>
                <option value="vegetarian">Vegetarian</option>
                <option value="wheat allergy">Wheat Allergy</option>
              </datalist>
              </select>
              <button type="button" onclick="addDietaryRestriction()">Add +</button>
               <button type="button" onclick="removeEntry(this)">-</button> 
      
            </div>			
				</div>
			</div>-->

<!--
      <div class="section">
        <h2>Change Password</h2>
        <input type="text" class="ingredientName" placeholder="Old Password"/>
        <input type="text" class="ingredientName" placeholder="New Password"/>
        <input type="text" class="ingredientName" placeholder="Confirm New Password"/>
        <button type="button" onclick="">Submit Change</button>

              <div class="submitButtons">
              <button type="button" id="editButton">Edit Profile</button>
              <button type="button" id="deleteButton">Delete Profile</button>
          </div>
        </div>
      </div>
    </div>
    -->

    <!--
    <div class="container rounded bg-white mt-5 mb-5">
      <h3>Your Profile!</h3>
      <div class="row">
          <div class="col-md-3 border-right">
              <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460__480.png">
                <input type="file" id="fileToUpload">
                <label for="fileToUpload" id="UpoladBtn">Choose Picture</label>
              </div>
          </div>
          <div class="col-md-5 border-right">
              <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                  </div>
                  <div class="row mt-2">
                      <div class="col-md-6"><label class="labels">Full Name</label><input type="text" class="form-control" placeholder="full name" value=""></div>
                      <div class="col-md-6"><label class="labels">Username</label><input type="text" class="form-control" value="" placeholder="username"></div>
                  </div>

                  <div id="dietaryRestrictionSection">
                    <h5>Dietary Restrictions
                      <button type="button" onclick="addDietaryRestriction()">Add +</button>
                    </h5>
                    <div class="dropdownMenu">
                      <div id="dietaryRestrictionInputs">
                        <select class="dietaryRestriction">
                        <datalist id="dietInputs">
                         <option value="dairy-free">Dairy Free</option>
							           <option value="fish allergy">Fish Allergy</option>
							           <option value="gluten-free"> Gluten Free</option>
							           <option value="kosher">Kosher</option>
							           <option value="lactose intolerance">Lactose Intolerance</option>
							           <option value="nut-free">Nut Free</option>
							           <option value="sugar-free">Sugar Free</option>
							           <option value="vegan">Vegan</option>
							           <option value="vegetarian">Vegetarian</option>
							           <option value="wheat allergy">Wheat Allergy</option>
                        </datalist>
                        </select>
                      
                      <button type="button" onclick="removeEntry(this)">-</button>
                      <br>
                      <br>
                      </div>				
                    </div>
                  </div>
            
                  <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Password</label><input type="text" class="form-control" placeholder="********" value=""></div>
                </div>
            
                  <div class="mt-5"><button style="margin-top:10px;"class="btn btn-primary edit-profile-button" type="button">Edit Profile</button></div>
                </div>
                <div class="mt-5"><button style="margin-top:10px;"class="btn btn-primary delete-profile-button" type="button">Delete Profile</button></div>
                </div>
              </div>
            -->


  </body>
</html>
