
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Search Recipe</title>

		<!-- JS Files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="../scripts/recipeBook.js"></script>
        <script src="../scripts/searchbar.js"></script>
        <script src="../scripts/header.js"></script>

		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/recipeBook.css">	
		<link rel="stylesheet"  href="../styles/recipeBook.css">
		
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
	</head>

	
	<header>
		<div id="website-header">
			<ul>
				<li style="float:left"><a href="homepage">RecipeBuddy</a></li>
				<li><a id="logout" onclick="logout()">Logout</a></li>
				<li><a id="myProfile" href="myProfile">My Profile</a></li>
				<li><a href="pantry" id="pantry">Pantry</a></li>
				<li><a class="active" href="recipeBook" id="recipeBook">Recipe Book</a></li>
				<li><a href="addRecipe" id="addRecipe">Add Recipe</a></li>
				<li><a  href=searchRecipe>Search</a></li>
				<li style="float:left" class="searchNav"><input onKeyUp="updateSearch()" id="searchText" size=30></li>
			</ul>
		</div>
	</header>



	<body>
        <h1>Recipe Book</h1>
		<div id="userRecipes">

		<!-- example of what it would look like-->

			<div class="recipeInfo">
			<h2>Name: </h2>
				<div id="recipeText">
					<h3>Author:</h3>
					<h4>Rating:</h4>
					<h4>Servings:</h4>
				</div>

				<div class="recipeTable">
					<table id="toClear">
						<tr class="recipeData">
							<image height=200 width=200 src=></td>
						</tr>
					</table>
				</div>
			</div>

			<div class="recipeInfo">
				<h2>Name: </h2>
					<div id="recipeText">
						<h3>Author:</h3>
						<h4>Rating:</h4>
						<h4>Servings:</h4>
					</div>
	
					<div class="recipeTable">
						<table id="toClear">
							<tr class="recipeData">
								<image height=200 width=200 src=></td>
							</tr>
						</table>
					</div>
				</div>


				<div class="recipeInfo">
					<h2>Name: </h2>
						<div id="recipeText">
							<h3>Author:</h3>
							<h4>Rating:</h4>
							<h4>Servings:</h4>
						</div>
		
						<div class="recipeTable">
							<table id="toClear">
								<tr class="recipeData">
									<image height=200 width=200 src=></td>
								</tr>
							</table>
						</div>
					</div>


					<div class="recipeInfo">
						<h2>Name: </h2>
							<div id="recipeText">
								<h3>Author:</h3>
								<h4>Rating:</h4>
								<h4>Servings:</h4>
							</div>
			
							<div class="recipeTable">
								<table id="toClear">
									<tr class="recipeData">
										<image height=200 width=200 src=></td>
									</tr>
								</table>
							</div>
						</div>


						<div class="recipeInfo">
							<h2>Name: </h2>
								<div id="recipeText">
									<h3>Author:</h3>
									<h4>Rating:</h4>
									<h4>Servings:</h4>
								</div>
				
								<div class="recipeTable">
									<table id="toClear">
										<tr class="recipeData">
											<image height=200 width=200 src=></td>
										</tr>
									</table>
								</div>
							</div>

							<div class="recipeInfo">
								<h2>Name: </h2>
									<div id="recipeText">
										<h3>Author:</h3>
										<h4>Rating:</h4>
										<h4>Servings:</h4>
									</div>
					
									<div class="recipeTable">
										<table id="toClear">
											<tr class="recipeData">
												<image height=200 width=200 src=></td>
											</tr>
										</table>
									</div>
								</div>

							</div>
			
		
	</body>
</html>