
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Search Recipe</title>

		<!-- JS Files-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="../scripts/searchRecipe.js"></script>
        <script src="../scripts/searchbar.js"></script>
        <script src="../scripts/header.js"></script>

		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/searchRecipe.css">	
		<link rel="stylesheet"  href="../styles/searchRecipe.css">
		
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
	</head>

	
	<header>
		<div id="website-header">
			<ul>
				<li style="float:left"><a href="homepage">RecipeBuddy</a></li>
				<li><a id="logout" onclick="logout()">Logout</a></li>
				<li><a id="myProfile" href="myProfile">My Profile</a></li>
				<li><a href="pantry" id="pantry">Pantry</a></li>
				<li><a href="recipeBook" id="recipeBook">Recipe Book</a></li>
				<li><a href="addRecipe" id="addRecipe">Add Recipe</a></li>
				<li><a class="active" href=searchRecipe>Search</a></li>
				<li style="float:left" class="searchNav"><input onKeyUp="updateSearch()" id="searchText" size=30></li>
			</ul>
		</div>
	</header>


	<body>
        <h1>Search</h1>
		<input type="text" id="searchString" size=100 placeholder="Search Recipe"/>
        <button type="button" onclick="search()">Search</button>
        <br>
		<h1>Search results:</h1>
		<div id="results">
			
		</div>
	</body>
</html>