<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="../scripts/signup.js"></script>

	<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) 
  <link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
  <link rel="stylesheet"  href="../styles/main.css"> -->
  <link rel="stylesheet"  href="/src/main/resources/public/styles/signup.css">	
  <link rel="stylesheet"  href="../styles/signup.css">
  
  <!-- Online Font Resources-->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
</head>

<header>
  <div id="website-header">
    <ul>
      <li style="float:left"><a href="homepage">RecipeBuddy</a></li>
    </ul>
  </div>
</header>

<body>
  <h1>Create Account</h1> 
<div id="form">

  <div id=photo>
      <h3 style="text-align: center">Profile Picture</h3>
      <table>
        <tr>
          <td><image id="profileImage" width=300 height=300></td>
        </tr>
        <tr>
          <td><input type="file" id="fileToUpload" onchange="viewImage()"></td>
        </tr>
      </table>
  </div>


  <div id = "nm">
  <h3>Name</h3>
  <input type="text" placeholder="Enter Name" id="displayName">
  </div>
  
  


<div id = "user">
  <h3>Username</h3>
  <input type="text" placeholder="Enter Username" id="username">
</div>

<div id = "pass">
  <h3>Password</h3>
  <input type="password" placeholder="Enter Password" id="password" required>
</div>

<div id = "pass_r">
  <h3>Repeat Password</h3>
  <input type="password" placeholder="Repeat Password" id="password-repeat" required>
</div>


<!-- I'm thinking we can add a drop down of the different restrictions-->
<div id="dietSelection">
  <h3>Dietary Restrictions
    <button type="button" onclick="addDietaryRestriction()">Add +</button>
  </h3>
  <div id="dietInputs">
    <select class="diets">
      <datalist id="dietInputs">
        <option value=""> None Selected  </option>
        <option value="dairy-free">Dairy Free</option>
        <option value="fish allergy">Fish Allergy</option>
        <option value="gluten-free"> Gluten Free</option>
        <option value="kosher">Kosher</option>
        <option value="lactose intolerance">Lactose Intolerance</option>
        <option value="nut-free">Nut Free</option>
        <option value="sugar-free">Sugar Free</option>
        <option value="vegan">Vegan</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="wheat allergy">Wheat Allergy</option>
      </datalist>
    </select>
    <button type="button" onclick="removeEntry(this)">-</button>
  </div>
</div>

<!-- I'm thinking we can add a drop down of the different appliances?-->

<div id="appSelection">
  <h3>Appliances Owned
    <button type="button" onclick="addAppliance()">Add +</button>
  </h3>
  <div id="appInputs">
    <select class="appliances">
      <datalist id="appInputs">
        <option value=""> None Selected  </option>
        <option value="blender"> Blender  </option>
        <option value="bowl">  Bowl </option>
        <option value="fryer"> Fryer </option>
        <option value="microwave"> Microwave </option>
        <option value="mixer">Mixer</option>
        <option value="oven"> Oven </option>
        <option value="rice cooker"> Rice Cooker </option>
        <option value="sheet tray"> Sheet Tray  </option>
        <option value="toaster"> Toaster </option>
        <option value="whisk"> Whisk </option>
      </datalist>
    </select>
    <button type="button" onclick="removeEntry(this)">-</button>
  </div>
</div>


<div id="ingSelection">
  <h3>Ingredients Owned
    <button type="button" onclick="addIngredient()">Add +</button>
  </h3>
  <div id="ingInputs"  style = "display:block">

    <input type="number" placeholder=0 class="ingredientAmmount">

    <select class="ingredientMeasurements">
      <datalist id="mesInputs">
        <option value="mL">mL</option>
        <option value="cups">cups</option>
        <option value="tsp">tsp</option>
        <option value="tbsp">tbsp</option>
        <option value="pinch">pinch</option>
        <option value="qt">qt</option>
        <option value="gal">gal</option>
        <option value="oz">oz</option>
        <option value="lbs">lbs</option>
        <option value="quantity of">quantity of</option>
        
      </datalist>
    </select>

    <select class="ingredientName">
      <datalist id="ingInputs">
        <!-- Please add in alphabetical order-->
        <option value="almond milk">  Almond Milk </option>
        <option value="apple">  Apple </option>
        <option value="baking soda"> Baking Powder  </option>
        <option value="baking soda"> Baking Soda  </option>
        <option value="beef">  Beef </option>
        <option value="brown sugar"> Brown Sugar </option>
        <option value="butter">Butter  </option>
        <option value="carrot"> Carrot  </option>
        <option value="cheese">  Cheese </option>
        <option value="chicken"> Chicken </option>
        <option value="cinnamon"> Cinnamon </option>
        <option value="eggs"> Eggs  </option>
        <option value="fish"> Fish </option>
        <option value="flour"> Flour </option>
        <option value="garlic"> Garlic </option>
        <option value="milk"> Milk </option>
        <option value="mushrooms"> Mushrooms </option>
        <option value="oats"> Oats </option>
        <option value="olive oil"> Olive Oil </option>
        <option value="onion"> Onion </option>
        <option value="pasta"> Pasta </option>
        <option value="pork"> Pork  </option>
        <option value="rice"> Rice </option>
        <option value="salt"> Salt </option>
        <option value="shrimp"> Shrimp </option>
        <option value="spinach"> Spinach  </option>
        <option value="strawberry"> Strawberry </option>
        <option value="vegetable oil"> Vegetable Oil </option>
        <option value="water">Water</option>
        <option value="white sugar">  White Sugar </option>
      </datalist>
    </select>

    <button type="button" onclick="removeEntry(this)">-</button>
  </div>
</div>

<div id="bothButtons">
  <div class="clearfix">
    <p id="errorText"></p>
    <div id="submitCreate">
      <button type="button" class="submit" onclick="signup()">Sign Up</button>
    </div>


    <div id="signUpRef">
      <a href="homepage"> Cancel (return to Homepage as Guest) </a>
    </div>

    <div id="signUpRef">
      <a onclick="login()" class="clickable"> Already a member? Click here to Login! </a>
    </div>
    
  </div>
</div>

</body>
</html>
