<!DOCTYPE html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="../scripts/signup.js"></script>
</head>

<!-- Currently, the only way I (morgan) know how to do stuff is via ajax. From what I can tell, the <form> tag needs .php files to work (which we aren't using)-->

<div class="container">
  <h1>Create Account</h1>
  <p>Fill in this Form to Create a RecipeBuddy Account</p>
  <hr>
  </div>

  



  <div>
  <label><strong>Name</strong></label>
  <input type="text" placeholder="Enter Name" id="displayName">
  </div>
  
  <div>
    <h3>Picture</h3>
    <table>
      <tr>
        <td><image id="profileImage" width=200 height=200></td>
      </tr>
      <tr>
        <td><input type="file" id="fileToUpload" onchange="viewImage()"></td>
      </tr>
    
    </table>
    
  </div>

<div>
  <label><strong>Username</strong></label>
  <input type="text" placeholder="Enter Username" id="username">
</div>

<div>
  <label><strong>Password</strong></label>
  <input type="password" placeholder="Enter Password" id="password" required>
</div>

<div>
  <label><strong>Repeat Password</strong></label>
  <input type="password" placeholder="Repeat Password" id="password-repeat" required>
</div>


<!-- I'm thinking we can add a drop down of the different restrictions-->
<div id="dietSelection">
    <label for="diet"><b>Dietary Restrictions</b></label>
    <button type="button" onclick="addDietaryRestriction()">+</button>
    <div id="dietInputs">
        <select class="diets">
        <datalist id="dietInputs">
            <option value="Dietary Restriction 1"> Dietary Restriction 1</option>
            <option value="Dietary Restriction 2">Dietary Restriction 2 </option>
        </datalist>

        </select>
        <button type="button" onclick="removeEntry(this)">-</button>
        <br>
    </div>
</div>

<!-- I'm thinking we can add a drop down of the different appliances?-->

<div id="appSelection">
    <label for="diet"><b>Appliances Owned</b></label>
    <button type="button" onclick="addAppliance()">+</button>
    <div id="appInputs">
        <select class="appliances">
        <datalist id="appInputs">
            <option value="Appliance 1"> Appliance 1</option>
            <option value="Appliance 2 2"> Appliance 2 </option>
        </datalist>

        </select>
        
        <button type="button" onclick="removeEntry(this)">-</button>
        <br>
    </div>
</div>




<div>
  <div class="clearfix">
    <button type="button" class="cancelbtn" onclick="document.location='homepage'">Cancel</button>
    <button type="button" class="signupbtn" onclick="signup()">Sign Up</button>
  </div>

  


</div>
</html>