
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>View Recipe</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="../scripts/header.js"></script>
		<script src="../scripts/searchbar.js"></script>
		<script src="../scripts/ingredientScaling.js"></script>
        <script src="../scripts/viewRecipe.js"></script>
		

		
		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/viewRecipe.css">	
		<link rel="stylesheet"  href="../styles/viewRecipe.css">
	
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
		</head>



	 
		<header>
			<div id="website-header">
				<ul>
					<li style="float:left"><a href="homepage">RecipeBuddy</a></li>
					<li><a id="logout" onclick="logout()">Logout</a></li>
					<li><a id="myProfile" href="myProfile">My Profile</a></li>
					<li><a href="pantry" id="pantry">Pantry</a></li>
					<li><a href="recipeBook" id="recipeBook">Recipe Book</a></li>
					<li><a href="addRecipe" id="addRecipe">Add Recipe</a></li>
					<!--<li><a href=searchRecipe id="searchButton">Search</a></li>-->
					<li style="float:left" class="searchNav"><input placeholder="Search" onKeyUp="updateSearch()" id="searchText" size=30></li>
				</ul>
			</div>
		</header>
	

	<body>
		<!-- TODO: format page-->
		<h1 id="name"></h1>

		<div id="recipeInfo">
			<h3 id="author">By: </h3> <br>
			<h3 id="cookTime"></h3>
			<h3 id="displayRating">Rating: </h3>
			<h3 id="displayDifficulty">Difficulty: </h3>
		</div>

		<div id = "imageDiv">
		
		<image id="recipeImage" height=300 width=300>
	</div>

		 
		<div class = "allFloat">
			<div class="floating-left">
				<div class = "section">
					<table id = "t1" style="text-align:center; margin: auto;"><tr><th id="tableIngredients">Ingredients<br></th></tr></table>
				</div>

				<div class="section">
					<table id = "t2" style="text-align:center; margin: auto;"><tr><th id="tableAppliances">Appliances<br></th></tr></table>
				</div>
			</div>
			<div class="floating-right">
				<div class="section">
					<table id = "t3"style="text-align:center; margin: auto;"><tr><th id="tableDietaryRestrictions">Dietary Restrictions<br></th></tr></table>
				</div>
				
				<div class = "section">
				<table id = "t4" style="text-align:center; margin: auto;"><tr><th id="otherTags">Misc Tags<br></th></tr></table>	
				</div>
			</div>
		</div>

		<div id= stepsSection>
			<h2>Steps</h4>
			<div id="steps">
			</div>
		</div>
		
		<div id="rateSection">
			<h2>Rate</h4>
			<div id="addRating">
				<select id="rating">
					<datalist id="ratingList">
						<option value="No Rating">No Rating</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</datalist>
				</select>
				
				<button type="button" onclick="rate()">Rate</button>
				<br>
			</div>
		</div>


		<div id="submit">
			<button type="button" id="submitButton" onclick="cook()">Cook Recipe</button>
			<button type="button" id="deleteRecipeButton" onclick="deleteRecipe()" hidden>Delete Recipe</button>
		</div>
	</body>
</html>