
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>View Recipe</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="../scripts/viewRecipe.js"></script>

		
		<!-- CSS Files (Two path needed per file, one for hosting live server and one for running the entire application) -->
		<link rel="stylesheet"  href="/src/main/resources/public/styles/main.css">	
		<link rel="stylesheet"  href="../styles/main.css">
		<link rel="stylesheet"  href="/src/main/resources/public/styles/viewRecipe.css">	
		<link rel="stylesheet"  href="../styles/viewRecipe.css">
	
		<!-- Online Font Resources-->
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
		</head>



	<header>
		<div id="website-header">
			<ul>
				<li style="float:left"><a href="homepage">RecipeBuddy</a></li>
				<li><a href="myProfile" id="MyProfile">My Profile</a></li>
				<li><a href="pantry">Pantry</a></li>
				<li><a href="recipeBook">Recipe Book</a></li>
				<li><a href="addRecipe">Add Recipe</a></li>
				<li><a class="active" href=searchRecipe>Search</a></li>
				<li style="float:left" class="searchNav"><input onKeyUp="updateSearch()" id="searchText" size=30></li>
			</ul>
		</div>
	</header>

	<body>
		<!-- TODO: format page-->
		<h1 id="name"></h1>
		<h4 id="author">By: </h4>
		<h4 id="cookTime"></h4>
		<h4 id="displayRating">Rating: </h4>

		<!-- start of rosie add dec 6-->
		<image height=200 width=200 id = "image">
	
		<!-- end of rosie add dec 6-->

		 
		<!--
		<table id="tagTable">
			 Is a table the best way to show this, or can I break this into a section per each column?
			 aha so th is the name of the columns then td are the column values 
			
			 
			<tr>
				<th id="tableIngredients">Ingredients</th>
				<th id="tableAppliances">Appliances</th>
				<th id="tableDietaryRestrictions">Dietary Restrictions</th>
				<th id="otherTags">Misc Tags</th>
			</tr>
		
		</table>

	-->


		<table id = "t1"><tr><th id="tableIngredients">Ingredients</th></tr></table>
		<table id = "t2"><tr><th id="tableAppliances">Appliances</th></tr></table>
		<table id = "t3"><tr><th id="tableDietaryRestrictions">Dietary Restrictions</th></tr></table>
		<table id = "t4"><tr><th id="otherTags">Misc Tags</th></tr></table>

		<h2>Steps</h4>
		<div id="steps">
			
		</div>
		<h2>Rate</h4>
		<div id="addRating">
			<select id="rating">
				<datalist id="ratingList">
					<option value="No Rating">No Rating</option>
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
				</datalist>
			</select>
			
			<button type="button" onclick="rate()">Rate</button>
			<br>
		</div>
		<button type="button" onclick="cook()">Cook Recipe</button>
		<button type="button" id="deleteRecipeButton" onclick="deleteRecipe()" hidden>Delete Recipe</button>
	</body>
</html>